{{title}}


<div class="media">
    <section class="main_content content">
  <h2>Sign up for an account</h2>

  <p>Signing up for an account is free and easy. Fill out the form below to get started.</p>

  

  <form action="/account/signup" name="account_signup" method="post" accept-charset="utf-8">
    <label for="username">Username</label>
    <input type="text" name="username" autocapitalize="off" value="" id="username">

    <label for="password">Password (4 characters minimum)</label>
    <input type="password" name="password" value="" id="password">

    <label for="password_confirm">Password Confirm</label>
    <input type="password" name="password_confirm" value="" id="password_confirm">

    <label for="email">Email</label>
    <input type="text" name="email" autocapitalize="off" value="" id="email">

    <p>By clicking the "Sign up" button below, I certify that I have read and agree to the TMDb <a href="/terms-of-use" target="_blank" rel="noopener">Terms of Use</a> and <a href="/privacy-policy" target="_blank" rel="noopener">TMDb Privacy Policy</a>.</p>

    <input type="submit" value="Sign Up" class="right center">
    <p class="right reset"><a href="/">Cancel</a></p>

    <div class="clear"></div>
  </form>
</section>

 </div>